body, * {
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
}

/* =================
NAVIGATION
==================== */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25em 1.125em;
    border: 1px solid black;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.logo-img {
    width: 15%;
}

.logo-title {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.nav-options-container {
    display: flex;
    gap: 2.5em;
}

.nav-links {
    font-size: 1rem;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.nav-links:hover {
    text-decoration: underline;
}