body, * {
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
}

/* =================
    NAVIGATION
==================== */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25em 1.125em;
    /* border: 1px solid black; */
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.logo-img {
    width: 15%;
}

.logo-title {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.nav-options-container {
    display: flex;
    gap: 2.5em;
}

.nav-links {
    font-size: 1rem;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.nav-links:hover {
    text-decoration: underline;
}

/* ===================
    ARTICLE MAIN SECTION
====================== */
.article-main {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    margin: 3em auto 0;
    gap: 2.5em;
}

.article-main-img {
    width: 100%;
    border-radius: 8px;
}

.article-main-body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
}

.article-main-body-para {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* ==================
    RECENT POSTS HEADING
===================== */
.recent-posts-heading {
    text-align: center;
    margin: 4em auto 2em;
}

/* =================
    ARTICLES SECTION
==================== */
section {
    display: grid;
    grid-template-columns: 1fr;
    /* margin-top: 1em; */
}

.blog-post {
    width: 90%;
    margin: 0 auto;
}

.blog-img {
    width: 100%;
    height: 35vh;
    border-radius: 8px;
    object-fit: cover;
}

.blog-date, .blog-body {
    color: #505050;
} 

/* =================
    FOOTER
==================== */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #202020;
    color: white;
    height: 10vh;
    margin-top: 3em;
}

.footer-title {
    font-size: 0.75rem;
    font-weight: bold;
}

.copyright {
    font-size: 0.75rem;
}