

/* ===================
        HEADER
====================== */
header {
    height: 40vh;
    background: rgba(0, 0, 0, 0.5) url('../images/hero-img.jpg') center / cover;
    background-blend-mode: multiply;
    color: white;
    display: flex;
    align-items: end;
    box-sizing: border-box;
    padding-bottom: 2em;
    padding-left: 2em;
    margin-bottom: 3em;
}

header div {
    width: 90%;
}

.hero-article {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.hero-article:hover {
    text-decoration: underline;
}

/* ======================
    MEDIA ATTRIBUTE
========================= */
@media (min-width: 650px) {
    /* ==================
        HEADER
    ===================== */
    .hero-article {
        font-size: 2.25rem;
    }
}
