

/* ===================
        HEADER
====================== */
header {
    height: 40vh;
    background: rgba(0, 0, 0, 0.5) url('../images/hero-img.jpg') center / cover;
    background-blend-mode: multiply;
    color: white;
    display: flex;
    align-items: end;
    box-sizing: border-box;
    padding-bottom: 2em;
    padding-left: 2em;
}

header div {
    width: 90%;
}

.hero-article {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.hero-article:hover {
    text-decoration: underline;
}

/* ==============
    MAIN > Section
================= */
section {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1em;
}

.blog-post {
    width: 90%;
    margin: 3em auto 0;
}

.blog-img {
    width: 100%;
    height: 35vh;
    border-radius: 8px;
    object-fit: cover;
}

.blog-date, .blog-body {
    color: #505050;
} 