body, * {
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
}

/* =================
    NAVIGATION
==================== */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25em 1.125em;
    border: 1px solid black;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.logo-img {
    width: 15%;
}

.logo-title {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.nav-options-container {
    display: flex;
    gap: 2.5em;
}

.nav-links {
    font-size: 1rem;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.nav-links:hover {
    text-decoration: underline;
}

/* ===================
        HEADER
====================== */
header {
    height: 40vh;
    background: rgba(0, 0, 0, 0.5) url('../images/hero-img.jpg') center / cover;
    background-blend-mode: multiply;
    color: white;
    display: flex;
    align-items: end;
    box-sizing: border-box;
    padding-bottom: 2em;
    padding-left: 2em;
}

header div {
    width: 90%;
}

/* ==============
    MAIN > Section
================= */
section {
    display: grid;
    grid-template-columns: 1fr;
}

.blog-post {
    width: 90%;
    margin: 3em auto 0;
}

.blog-img {
    width: 100%;
    height: 35vh;
    border-radius: 8px;
    object-fit: cover;
}

.blog-date, .blog-body {
    color: #505050;
} 
