/* ===================
    ARTICLE MAIN SECTION
====================== */
.article-main {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em auto 0;
    gap: 2.5em;
}

.article-main-img {
    width: 100%;
    border-radius: 4px;
}

.article-main-body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
}

.article-main-body-para {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* ==================
    RECENT POSTS HEADING
===================== */
.recent-posts-heading {
    text-align: center;
    margin: 4em auto 2em;
}

/* =========================
        MEDIA QUERIES
============================ */
@media (min-width: 650px) {
    /* ====================
        ARTICLE MAIN SECTION
    ======================= */
    .article-main-header {
        max-width: 90%;
    }

    .article-main-heading {
        font-size: 2.25rem;
    }

    .article-main-img {
        object-fit: cover;
        max-height: 500px;
    }

    .article-main-body {
        max-width: 90%;
    }

    .article-main-body-para-heading {
        font-size: 1.5rem;
    }

    /* =======================
        RECENT POSTS HEADING
    ========================== */
    .recent-posts-heading {
        font-size: 1.5rem;
    }
}