/* ========================
    ARTICLE MAIN SECTION
=========================== */
.article-main {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em auto 0;
    gap: 2.5em;
}

.profile-img {
    width: 40%;
    border-radius: 50%;
    margin-bottom: 2em;
}

.article-main-body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
}

.article-main-body-para {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* ==================
    RECENT POSTS HEADING
===================== */
.recent-posts-heading {
    text-align: center;
    margin: 4em auto 2em;
}

/* ====================
    VIEW MORE BUTTON
======================= */
.view-more-btn {
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    border: none;
    display: block;
    margin: 0 auto 2em;
    cursor: pointer;
}

.view-more-btn:hover {
    text-decoration: underline;
}

/* =========================
        MEDIA QUERIES
============================ */
@media (min-width: 650px) {
    /* ====================
        ARTICLE MAIN SECTION
    ======================= */
    .article-main-header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3em;
        margin-top: 2em;
    }

    .article-main-header div {
       max-width: 70%;
    }

    .profile-img {
        width: 25%;
        max-width: 220px;
        margin-bottom: 0;
    }

    .article-main-heading {
        font-size: 2.25rem;
    }

    .article-main-body {
        max-width: 80%;
        margin-top: 2em;
    }

    .article-main-body-para-heading {
        font-size: 1.5rem;
    }
}